body{
  font-family: 'Oswald', serif, sans-serif;
  background: url("../images/medical-backgrounds-png-1600_800.png");
  font-size: 16px;
}

#counter h2{
 display: inline;
}

#completed span{
  font-size: 24px;
}